<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HospitalManagement-Web App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="Content/Site.css" rel="stylesheet">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="Content/simple-sidebar.css" rel="stylesheet">
</head>
    
<body>
        <div class="logo">
            <img src="~/Images/HH6.png" alt="Hospital Management" width="1370" height="140">
        </div>

        <div id="top-bar">
            <nav class="navbar navbar-expand-lg  navbar-dark bg-info">
                <a href="#menu-toggle" class="navbar-toggler-icon" id="menu-toggle"></a>
            </nav>
        </div>

    
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a> @Html.ActionLink("Home", "Index", "Home")</a>
                    </li>
                    <li>
                        <a> @Html.ActionLink("Registrations", "Index", "Registration")</a>
                    </li>
                    <li>
                        <a> @Html.ActionLink("Patients", "Index", "Patient")</a>
                    </li>
                    <li>
                        <a> @Html.ActionLink("Departments", "Index", "Department")</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()

                            <footer>
                                <p>&copy; @DateTime.Now.Year - Worst Hospital aka Humanus Hospital</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#page-content-wrapper -->

        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/CustomJavaScriptForSimpleSidebar.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("content", required: false)
        @RenderSection("scripts", required: false)

    
</body>
</html>


